<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOWA GROUP | Trang Chủ</title>
    <link rel="stylesheet" href="home-style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<body>
    <div class="main-wrapper">
        <nav>
            <div class="wrapper-nav">
                <div class="logo">
                    <a href="#Howamro">HOWAMRO</a>
                </div>
                <div class="search-bar">
                    <form action="">
                        <input type="text" placeholder="Bạn muốn tìm...">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="menu-horizontal">
                    <ul>
                        <li><a href="#"><span id="adhesive"> </span>Băng Keo</a></li>
                        <li><a href="#"><span id="pipe"></span>Ống Co Nhiệt</a></li>
                        <li><a href="#"><span id="etool"></span>Phụ Kiện Điện</a></li>
                    </ul>
                </div>
                <div class="cart">
                    <a href="#Cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </nav>
        <div class="sub-nav">
            <div class="wrapper-nav">
                <div class="btn-menu">
                    <span> <i class="fas fa-bars"></i> Sản Phẩm</span> 
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="box left-col">
                <div class="menu">
                    <ul>
                        <li><a href="http://#"> Băng Chuyên Dụng <i class="fas fa-angle-right"></i></a></li>
                        <li><a href="http://#"> Băng Keo Vinyl <i class="fas fa-angle-right"></i></a></li>
                        <li><a href="http://#"> Ống Co Nhiệt <i class="fas fa-angle-right"></i></a></li>
                        <li><a href="http://#"> Phụ Kiện Nghành Điện <i class="fas fa-angle-right"></i></a></li>
                        <li><a href="http://#"> Sản Phẩm Bán Chạy <i class="fas fa-angle-right"></i> </a></li>
                        <li><a href="http://#"> Sản Phẩm Khuyến Mãi <i class="fas fa-angle-right"></i></a></li>
                    </ul>   
                </div>
                <div class="delivery">
                    <img src="./image/Banner-Bmenu.jpg" alt="3M banner on top">
                </div>
            </div>
           <div class="right-col">
                <div class="top-banner">
                    <img src="./image/Banner-Top-1200W.jpg" alt="3M banner on top">
                </div>
                <div class="left-banner">
                    <img src="./image/Banner-Left-1200W.jpg" alt="" srcset="">
                </div>
                <div class="right-banner">
                    <img src="./image/Banner-Right-1200W.jpg" alt="" srcset="">
                </div>
           </div>
        </div>
        <div class="container">
            <div class="box row">
                <div class="title"><span>Sản Phẩm Mới</span></div>
                <div class="content">
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-codepen.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="detail.html">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="detail.html">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="detail.html">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="detail.html">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="detail.html">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="detail.html">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="detail.html">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="detail.html">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-codepen.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="detail.html">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="detail.html">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="detail.html">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="detail.html">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-levi's.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="detail.html">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="detail.html">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="detail.html">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="detail.html">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box row">
                <div class="title"><span>Sản Phẩm Bán Chạy</span></div>
                <div class="content">
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-levi's.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="detail.html">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="detail.html">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="detail.html">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="detail.html">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="detail.html">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="detail.html">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-levi's.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-levi's.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-levi's.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-2">
                        <div class="box-image">
                            <img src="./image/thumbnail-codepen.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box row">
                <div class="title"><span>Sản Phẩm Khuyến Mãi</span></div>
                <div class="content slide">
                    <div class="col-4-slide">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4-slide">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4-slide">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4-slide">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4-slide">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4-slide">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4-slide">
                        <div class="box-image">
                            <img src=".image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4-slide">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4-slide">
                        <div class="box-image">
                            <img src="/image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                    <div class="col-4-slide">
                        <div class="box-image">
                            <img src="./image/thumbnail-t-shirt.jpg" alt="T-Shirt ">
                        </div>
                        <div class="box-text">
                            <div class="title-product"> <a href="#">T-Shirt Porn Hub</a> </div>
                            <div class="price-product"><span>180.000 đ</span></div>
                            <div class="detail-product"><a href="#">Xem Chi Tiết</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box row" style="border-radius: 0;">
               <div class="content">
                    <div class="link-short">
                        <div class="box-short">
                            <div class="title">
                                <h3><span>Băng Keo Vinyl</span></h3>   
                            </div>
                            <div class="content">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eum illum eos itaque corporis eaque, consequuntur consectetur odio, aliquam ratione minus alias nisi dolore sit error quaerat accusamus tempore provident?</a></li>
                                    <li><a href="#">Product 2</a></li>
                                    <li><a href="#">Product 3</a></li>
                                    <li><a href="#">Product 4</a></li>
                                    <li><a href="#">Product 5</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-short">
                            <div class="title">
                                <h3><span>Băng Keo Vinyl</span></h3>
                            </div>
                            <div class="content">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eum illum eos itaque corporis eaque, consequuntur consectetur odio, aliquam ratione minus alias nisi dolore sit error quaerat accusamus tempore provident?</a></li>
                                    <li><a href="#">Product 2</a></li>
                                    <li><a href="#">Product 3</a></li>
                                    <li><a href="#">Product 4</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eius corporis atque, veniam fuga doloribus vel. Eaque, officiis iure commodi reiciendis suscipit laudantium maxime? Optio sunt architecto rerum expedita nemo. 5</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-short">
                            <div class="title">
                                <h3><span>Băng Keo Vinyl</span></h3>
                            </div>
                            <div class="content">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eum illum eos itaque corporis eaque, consequuntur consectetur odio, aliquam ratione minus alias nisi dolore sit error quaerat accusamus tempore provident?</a></li>
                                    <li><a href="#">Product 2</a></li>
                                    <li><a href="#">Product 3</a></li>
                                    <li><a href="#">Product 4</a></li>
                                    <li><a href="#">Product 5</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-short">
                            <div class="title">
                                <h3><span>Băng Keo Vinyl</span></h3>
                            </div>
                            <div class="content">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eum illum eos itaque corporis eaque, consequuntur consectetur odio, aliquam ratione minus alias nisi dolore sit error quaerat accusamus tempore provident?</a></li>
                                    <li><a href="#">Product 2</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, omnis.</a></li>
                                    <li><a href="#">Product 4</a></li>
                                    <li><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit quod iusto sit nam facere eligendi, ad eveniet temporibus ratione aperiam, quam soluta quis? Nesciunt error asperiores voluptate repellendus, itaque a doloribus aliquam ipsam quos aut cum, animi veritatis commodi harum architecto hic deleniti totam earum et reprehenderit neque? Consequuntur, atque!</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-short">
                            <div class="title">
                                <h3><span>Băng Keo Vinyl</span></h3>
                            </div>
                            <div class="content">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eum illum eos itaque corporis eaque, consequuntur consectetur odio, aliquam ratione minus alias nisi dolore sit error quaerat accusamus tempore provident?</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio temporibus commodi exercitationem amet id eaque perspiciatis fugiat dolor, aspernatur ducimus, dignissimos inventore magni optio sunt vel, porro omnis tenetur. Assumenda eum porro cupiditate quas iure alias delectus, nesciunt dolorum sequi officiis fugiat ea inventore reprehenderit quo minima praesentium maiores possimus magni molestiae error a sit ex accusamus rem. Corporis vero impedit architecto distinctio! Consequatur quisquam, pariatur consequuntur voluptates reprehenderit vero, fugiat consectetur corporis unde quidem obcaecati ipsam accusamus? Eius dignissimos ratione hic, corrupti ut cum blanditiis. Quo sapiente iusto corporis, illum velit debitis! Incidunt officia culpa sint modi itaque fuga!</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, omnis.</a></li>
                                    <li><a href="#">Product 4</a></li>
                                    <li><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit quod iusto sit nam facere eligendi, ad eveniet temporibus ratione aperiam, quam soluta quis? Nesciunt error asperiores voluptate repellendus, itaque a doloribus aliquam ipsam quos aut cum, animi veritatis commodi harum architecto hic deleniti totam earum et reprehenderit neque? Consequuntur, atque!</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-short">
                            <div class="title">
                                <h3><span>Băng Keo Vinyl</span></h3>
                            </div>
                            <div class="content">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eum illum eos itaque corporis eaque, consequuntur consectetur odio, aliquam ratione minus alias nisi dolore sit error quaerat accusamus tempore provident?</a></li>
                                    <li><a href="#">Product 2</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, omnis.</a></li>
                                    <li><a href="#">Product 4</a></li>
                                    <li><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit quod iusto sit nam facere eligendi, ad eveniet temporibus ratione aperiam, quam soluta quis? Nesciunt error asperiores voluptate repellendus, itaque a doloribus aliquam ipsam quos aut cum, animi veritatis commodi harum architecto hic deleniti totam earum et reprehenderit neque? Consequuntur, atque!</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <div class="footer">
          <div class="container">
              <div class="title-footer">
                  <h1>HOWA GROUP</h1>
                  <div class="content">
                      <p class="infor"><span><i class="fas fa-map-marker-alt"></i></span> Địa chỉ: 119 Lý Chính Thắng, Quận 3, TP. Hồ Chí Minh</p>
                      <p class="infor"><span><i class="fas fa-mobile-alt"></i></span> Số Điện Thoại: <a href="tel:+84916113336">  0916.11.33.36</a></p>
                      <p class="infor"><span><i class="fas fa-at"></i>

                      </span> Email Hỗ trợ: <a href="mailto:support@howamro.com"> support@howamro.com </a> </p>
                  </div>
              </div>
              <div class="content">
                <div class="link-short">
                <div class="box-short">
                    <ul class="col-link">
                        <li><a href="#">Điều khoản & Chính sách bảo hành</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                        <li><a href="#">Tin Khuyến mãi</a></li>
                    </ul>
                </div>
                <div class="box-short">
                    <ul class="col-link">
                        <li><a href="#">Giới Thiệu</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="box-short">
                    <ul class="col-link">
                        <li><a href="#"> <span id="facebook"> </span>Facebook</a></li>
                        <li><a href="#"> <span id="youtube"></span>Youtube</a></li>
                        <li><a href="#"> <span id="maps"></span>Maps</a></li>
                    </ul>
                </div>
              </div>
            </div>
              <div class="copy-right">
                    Copyright (c) 2017 Copyright HOWA GROUP 
              </div>
          </div>
        </div>
    </div>
</body>
</html>
